.newLine hr {

	height: 2px;
	background-color:#6E0000;
	color:#6E0000;
	border: 0 none;
	margin: 5px auto;

}

.start-button {
	background-color: #1c110a;
	padding: 10 10;
	border-radius: 12px;
	opacity: 0.8;
	font-family: Courier;
}
.start-button:hover {
	opacity: 1;
}


.pop {
	color: #1c110a;
	font-family: Courier;
}

.mrg-bottom {
	margin-bottom: 20px;

}
.pop-li {
	color: #1c110a;
}
